node_modules
bower_components
.DS_Store
*~
*.swp
*.bat
*.bak
temp
.mayaSwatches
.git
.svn
.hg
*.pyc
*.orig
.project
*.meta
*.vpj
*.vpw
*.vpwhistu
*.vtg

/three.js/tjstss001/tjstss001/bin
/three.js/tjstss001/tjstss001/obj/Debug
*.suo
/three.js/tjstss001/tjstss001/obj/Release
